*~
*.o
*.gmo
autom4te.cache/
camorama.desktop
config.h
config.log
config.status
data/camorama.schemas
data/Makefile
intltool-extract
intltool-merge
intltool-update
Makefile
pixmaps/Makefile
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/camorama
src/camorama-stock-images.h
src/.deps/
src/Makefile
stamp-h1
