*~
*.o
*.gmo
aclocal.m4
autom4te.cache/
camorama.appdata.xml
camorama.desktop
compile
config.h
config.log
config.guess
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/org.gnome.camorama.gschema.valid
data/org.gnome.camorama.gschema.xml
intltool-extract
intltool-merge
intltool-update
Makefile
Makefile.in
pixmaps/Makefile
po/camorama.pot
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/remove-potcdate.sed
po/stamp-it
po/stamp-po
src/Makefile.in
src/camorama
src/camorama-stock-images.h
src/.deps/
src/Makefile
stamp-h1
