*.o
*.gmo
Makefile
camorama.desktop
config.h
config.log
config.status
data/Makefile
data/camorama.schemas
intltool-extract
intltool-merge
intltool-update
pixmaps/Makefile
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/camorama
src/camorama-stock-images.h
stamp-h1
