[Desktop Entry]
Name=Camorama Webcam Viewer
Name[cs]=Prohlížeč webových kamer Camorama
Name[da]=Camorama - netkamerafremviser
Name[de]=Camorama Webcam-Betrachter
Name[es]=Visor de cámara web Camorama
Name[fr]=Visionneur de webcam Camorama
Name[hi]=केमोरामा वेबकेम दर्शक
Name[ja]=Camorama ウェブカムビューア
Name[mk]=Каморама вебкам прегледувач
Name[nl]=Camorama webcamprogramma
Name[pl]=Camorama - kamera internetowa
Name[pt]=Visualizador Webcam Camorama
Name[pt_BR]=Visualizador de Webcam Camorama
Name[sr]=Каморама веб камера прегледач
Name[sr@Latn]=Kamorama veb kamera pregledač
Name[sv]=Webbkameravisaren Camorama
Name[uk]=Робота з веб-камерою
Comment=View, alter and save images from a webcam
Comment[be]=Праглядае, зьмяняе й захоўвае відарысы з web-камэры
Comment[cs]=Prohlížení, úprava a ukládání obrázků z webové kamery
Comment[da]=Vis, justér og gem billeder fra et netkamera
Comment[de]=Webcam-Bilder anzeigen, bearbeiten und speichern
Comment[es]=Ver, alterar y guardar imagenes desde una cámara web
Comment[fr]=Affiche, modifie et enregistre les images d'une webcam
Comment[hi]=वेबकेम से प्रतिमा देखें, बदलें और संग्रहित करें
Comment[ja]=webcam からの画像を視聴し、変更してから保存する
Comment[mk]=Поглед, извести и сними слики од вебкамера
Comment[nl]=Beelden van een webcam bekijken, bewerken of opslaan
Comment[pl]=Wyświetla, modyfikuje i zapisuje obrazy z kamery internetowej
Comment[pt]=Ver, alterar e gravar imagens de uma webcam
Comment[pt_BR]=Ver, alterar e gravar imagens de uma webcam
Comment[sr]=Погледај, измени и сачувај снимке са веб камере
Comment[sr@Latn]=Pogledaj, izmeni i sačuvaj snimke sa veb kamere
Comment[sv]=Visa, redigera och spara bilder från en webbkamera
Comment[uk]=Показ, зміна і збереження зображень з веб-камери
Exec=camorama
Terminal=0
Type=Application
Icon=camorama.png
Categories=Application;Graphics
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=camorama
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Component=User Interface
