[Desktop Entry]
Name=Camorama Webcam Viewer
Name[az]=Camorama Veb Kamera Nümayişçisi
Name[bg]=Camorama - програма за уеб камера
Name[bs]=Camorama Webcam program za prikazivanje
Name[ca]=Visualitzador de càmera web Camorama
Name[cs]=Prohlížeč webových kamer Camorama
Name[da]=Camorama - netkamerafremviser
Name[de]=Camorama Webcam-Betrachter
Name[dz]=ཀེ་མོ་ར་མ་ཝེབ་ཀེམ་མཐོང་བྱེད་
Name[en_CA]=Camorama Webcam Viewer
Name[en_GB]=Camorama Webcam Viewer
Name[es]=Visor de cámara web Camorama
Name[eu]=Camorama Web camera ikustailea
Name[fi]=Camorama Webikameran katselin
Name[fr]=Visionneur de webcam Camorama
Name[ga]=Amharcóir Webcam Camorama
Name[gl]=Camorama visualizador de cámara web
Name[gu]=કેમોરામા વેબકેમ દર્શક
Name[hi]=केमोरामा वेबकेम दर्शक
Name[it]=Visualizzatore per webcam Camorama
Name[ja]=Camorama ウェブカム・ビューア
Name[lv]=Camorama vebkameru skatītājs
Name[mk]=Каморама вебкам прегледувач
Name[ms]=Pelihat Webcam Camorama
Name[nb]=Camorama webkamera-visning
Name[ne]=कामोरामा वेबक्याम प्रदर्शक
Name[nl]=Camorama webcamprogramma
Name[pa]=ਵੇਖਣ ਵਾਲਾ Camorama Webcam
Name[pl]=Camorama - kamera internetowa
Name[pt]=Visualizador de Webcam Camorama
Name[pt_BR]=Visualizador de Webcam Camorama
Name[sl]=Camorama pregledovalnik spletne kamere
Name[sq]=Camorama, shikuesi për webcam
Name[sr]=Каморама веб камера прегледач
Name[sr@Latn]=Kamorama veb kamera pregledač
Name[sv]=Webbkameravisaren Camorama
Name[ta]=Camorama Å¨ÄôÀ¼ì¸ÕÅ¢ À¡÷¨ÅÂ¡Ç÷ ¸¡ðÊ
Name[tr]=Camorama Web Kamerası İzleyicisi
Name[uk]=Робота з веб-камерою
Name[vi]=Bộ xem máy ảnh Mạng Camorama
Name[zh_CN]=Camorama 摄像头查看器
Name[zh_TW]=Camorama 網路攝影機檢視器
Comment=View, alter and save images from a webcam
Comment[az]=Veb kameranızdan rəsmləri nümayiş edin, dəyişdirin və qeyd edin
Comment[be]=Праглядае, зьмяняе й захоўвае відарысы з web-камэры
Comment[bg]=Преглед, промяна и запис на изображения от уеб камера 
Comment[bs]=Pogledaj izmjeni i sačuvaj slike sa webkamere
Comment[ca]=Visualitza, altera i desa imatges d'una càmera web
Comment[cs]=Prohlížení, úprava a ukládání obrázků z webové kamery
Comment[da]=Vis, justér og gem billeder fra et netkamera
Comment[de]=Webcam-Bilder anzeigen, bearbeiten und speichern
Comment[dz]=ཝེབ་ཀེམ་ཅིག་ལས་  ལྟ་ནི་སོར་ནི་དང་གཟུགས་བརྙན་ཚུ་སྲུང་
Comment[en_CA]=View, alter and save images from a webcam
Comment[en_GB]=View, alter and save images from a webcam
Comment[es]=Ver, alterar y guardar imágenes desde una cámara web
Comment[eu]=Irudiak web kamera batetik ikusi, aldatu eta gorde
Comment[fi]=Katsele, muuta ja tallenna kuvia webikamerasta
Comment[fr]=Affiche, modifie et enregistre les images provenant d'une webcam
Comment[gl]=Mostrar, modificar e gardar imaxes desde a cámara web
Comment[gu]=વેબકેમમાંથી ચિત્રો જુઓ, બદલો અને સંગ્રહો
Comment[hi]=वेबकेम से प्रतिमा देखें, बदलें और संग्रहित करें
Comment[it]=Visualizza, modifica e salva immagini dalla webcam
Comment[ja]=WebCam の画像の表示や保存を行います
Comment[lv]=Skīties, pārveidot un saglabāt attēlus no vebkameras
Comment[mk]=Поглед, извести и сними слики од вебкамера
Comment[ms]=Lihat, ubah dan simpan imej drpd webcam
Comment[nb]=Vis, endre og lagre bilder fra et webkamera
Comment[ne]=दृश्य, वेबक्यामबाट छविहरू परिवर्तन र बचत गर्नुहोस्
Comment[nl]=Beelden van een webcam bekijken, bewerken of opslaan
Comment[pa]=webcam ਤੋਂ ਚਿੱਤਰ ਵੇਖੋ,ਬਦਲੋ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Wyświetla, modyfikuje i zapisuje obrazy z kamery internetowej
Comment[pt]=Ver, alterar e gravar imagens de uma webcam
Comment[pt_BR]=Ver, alterar e gravar imagens de uma webcam
Comment[sl]=Poglej, spremeni in shrani slike preko spletne kamere
Comment[sq]=Shiko, ndrysho dhe ruaj imazhet nga një webcam
Comment[sr]=Погледај, измени и сачувај снимке са веб камере
Comment[sr@Latn]=Pogledaj, izmeni i sačuvaj snimke sa veb kamere
Comment[sv]=Visa, redigera och spara bilder från en webbkamera
Comment[ta]=Å¨ÄôÀ¼ì¸ÕÅ¢யில் இருக்கும் பிம்ப பார்க்க, மாற்ற மற்றும் சேமிக்கலாம்
Comment[tr]=Web kamerası görüntülerini izle, değiştir ve sakla
Comment[uk]=Показ, зміна і збереження зображень з веб-камери
Comment[vi]=Xem, sửa đổi và lưu ảnh từ máy ảnh Mạng.
Comment[zh_CN]=查看、控制并保存摄像头的图像
Comment[zh_TW]=檢視、交換與儲存網路攝影機的影像
Exec=camorama
Terminal=0
Type=Application
Icon=camorama.png
Categories=Application;Graphics
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=camorama
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Component=User Interface
